{% extends 'base.html.twig' %}

{% block title %}Manage Account !{% endblock %}

{% block base_body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                        <div class="col-md-2 no-pad">
                            <div class="user-image">
                                <img src="{{ app.user.avatarUrl }}" class="img-responsive thumbnail">
                            </div>
                        </div>
                        <div class="user-pad">
                            <h3>Bienvenue, {{ app.user.firstName }}</h3>
                            {% if app.user.linkedinUsername %}
                                <h4 class="white"><i class="fa fa-linkedin"></i> {{ app.user.linkedinUsername }}</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
