{% extends "base.html.twig" %}

{% block title %}Créer votre compte Candidat!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block base_body %}
<h2 class="connect">Connectez-vous ou créer votre compte candidat</h2>
    <p>Si vous souhaitez consulter toutes les offres d'emplois disponbles dans votre région, créer votre espace candidat ou connectez-vous :</p>
    <div class="connect">
        <a class="connect" href="{{ path('app_login') }}">Connexion</a>
    </div>

<form class="form-signin" method="post">
    {# todo - replace with a Symfony form! #}

    <h4 class="h3 mb-3 font-weight-normal">Créer votre compte candidat</h4>
    <label for="inputEmail">Email</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me"> J'ai lu et j'accepte les conditions d'utilisation, la notice sur les données personnelles et l'utilisation des cookies de Hair'Job.
            </label>
        </div>

    {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

    <button class="connect" type="submit">
        Enregistrer
    </button>
</form>

{% endblock %}
