.form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid rgb(205, 190, 216);
    border-radius: 3%;
    box-shadow: 0 0 5px #d7d7d7;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* VERSION DESKTOP min-width: 1025px width Desktop > 64em*/
@media screen and (min-width: 64em) {
    .form-signin {
        margin-left: 5%;
    }
}