/*********************MOBILE FIRST***************************/
/**GLOBAL**/
* {
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fffbf9;
    color: #5C463D;
    font-size: 1.6rem;
    line-height: 1.8;
    margin-top: 210px;
}
a {
    color: #5C463D;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
a:hover {
    color: #fffbf9;
    text-decoration: none;
    background-color: #cd5c5c;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
    border: 1px solid #fff;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 3.2rem;
    color: #cd5c5c;
    text-align: center;
}
h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #cd5c5c;
}
h3 {
    font-size: 1.6rem;
    color: #cd5c5c;
}
h4{
    font-size: 1.4rem;
    color: #cd5c5c;
    text-align: center;
    text-transform: uppercase;
}
h5{
    font-size: 1.2rem;
    text-align: center;
}
h5:hover {
    color: #fffbf9;
    text-decoration: none;
    background-color: #cd5c5c;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
    border: 1px solid #fff;
}
ul li {
    list-style: none;
}
/**HEADER**/
.header {
    background-color: #fff;
    box-shadow: 10px 10px 10px -10px rgba(92, 70, 61, 1);
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}
/* TITLE LOGO WEBSITE */
.font_bebas {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.font_eagle {
    font-family: 'Eagle Lake', cursive;
    letter-spacing: 0.2em;
    line-height: 0;
}
.font_lobster {
    font-family: 'Lobster Two', cursive;
}
.logo a:hover {
    color: inherit;
}
/** MAIN **/
/*NO MOBIL-FIRST CAROUSEL*/
.carousel {
    display: none;
}
.h_font_bebas {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}
.h_title{
    display: none;
}
.flex {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2%;
}
.article {
    border: 1px solid rgb(205, 190, 216);
    border-radius: 3%;
    box-shadow: 0 0 5px #d7d7d7;
    width: 85%;
    margin: 20% auto;
    text-align: center;
}
.article:hover{
    background-color: #cd5c5c;
}
.article h3{
    text-align: center;
}
img.imgarticle {
    max-width: 80%;
    border-radius: 3%;
    position: relative;
    top: -30px;
    box-shadow: 0 2px 5px 1px #d7d7d7;
}
img.imgarticle:hover {
    transform: scale(1.2);
}
/** LOGIN **/
.h_font_b {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}
div.connect {
    text-align: center;
}
.connect a, button{
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    background-color: #fffbf9;
    color: #5C463D;
}
.connect a:hover, button:hover {
    color: #fffbf9;
    text-decoration: none;
    background-color: #cd5c5c;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
    border: 1px solid #fff;
}
/** PROFIL **/
.profil{
    padding: 2%;
    box-shadow: 0 2px 5px 1px #d7d7d7;
    border: 1px solid #d7d7d7;
}
/** FORM **/
.form{
    margin-top: 3%;
}
.form h3{
    font-weight: bold;
}
/*** ADVERT ***/
/* VIEW */
img.imgadvert {
    max-width: 35%;
    border-radius: 3%;
    box-shadow: 0 2px 5px 1px #d7d7d7;
    float: left;
    margin-right: 25px;
}
.h_font {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
i{
    font-family: 'Lobster Two', cursive;
}
summary{
    color: #cd5c5c;
}
details ul{
    margin: 0;
    padding: 2%;
}
.viewcat{
    margin: 5%;
}
.viewcat p{
    color: #cd5c5c;
}
/* ADD */
.list li{
    list-style-type: none;
}
.list li:before{
    content: "\2217";
    color: red;
}
/* DELETE */
a.btn.btn-default{
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    background-color: #fffbf9;
    color: #5C463D;
    font-size: 1.2rem;
}
a.btn.btn-default:hover{
    color: #fffbf9;
    text-decoration: none;
    background-color: #cd5c5c;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
    border: 1px solid #fff;
}
input.btn.btn-danger{
    background-color: #cd5c5c;
    font-size: 1.2rem;
}
/* EDIT */
#advert_save.btn-primary.btn{
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    background-color: #fffbf9;
    color: #5C463D;
}
#advert_save.btn-primary.btn:hover{
    color: #fffbf9;
    text-decoration: none;
    background-color: #cd5c5c;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
    border: 1px solid #fff;
}
label.form-check-label{
    padding-left: 1%;
}
#advert_categories, #advert_skills, #advert_advert_skills, #advert_edit_categories, #advert_edit_skills, #advert_edit_advert_skills{
    font-size: 1.2rem;
}
/* CONTACT */
#contact_envoyer.btn-primary.btn, #advert_edit_save.btn-primary.btn{
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    background-color: #fffbf9;
    color: #5C463D;
}
#contact_envoyer.btn-primary.btn:hover, #advert_edit_save.btn-primary.btn:hover{
    color: #fffbf9;
    text-decoration: none;
    background-color: #cd5c5c;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
    border: 1px solid #fff;
}
/** ADMINISTRATION **/
.customers{
    border-collapse: collapse;
    width: 100%;
}
.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
.customers tr:nth-child(even){
    background-color: #f2f2f2;
}
.customers tr:hover {
    background-color: #ddd;
}
.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cd5c5c;
    color: #f0f0f0;
}
/** LEGALNOTICE - REGPD - COOKIES **/
.legal{
    font-style: italic;
}
.rgpd_h2{
    font-size: 2rem;
}
.rgpd_h3, address{
    font-family: 'Lobster Two', cursive;
    color: #3b3b1f;
}
.rgpd_h4{
    text-align: justify;
    font-weight: bold;
}
/** FOOTER **/
.footer{
    text-align: center;
}
.fa-heart{
    color: #cd5c5c;
}
.menu_footer, span{
    color: #cd5c5c;
    font-weight: bold;
}
.p_footer{
    text-align: center;
}
/*******************************************************************************************************************************/
/*********************************************************MEDIA SCREEN**********************************************************/
/*******************************************************************************************************************************/
/* VERSION RESPONSIVE */
/* VERSION TABLET min-width: 768px max-width: 1025px; width Tablet 48em - 64em*/
@media screen and (min-width:48em) {
    /** MAIN **/
    .container{
        padding-top: 2%;
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .article {
        width: 40%;
        margin: 2%;
    }
    /* VIEW */
    .viewimg{
        max-width: 40%;
    }
    /** FOOTER **/
    .info{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 25px;
    }
    .info i{
        display: block;
        text-align: center;
        padding-bottom: 5px;
    }
}

/* VERSION DESKTOP min-width: 1025px width Desktop > 64em*/
@media screen and (min-width:64em) {
    /** MAIN **/
    .container {
        max-width: 80%;
        margin: 0 auto;
        padding-top: 0;
    }
    /* TITLE PARALLAX */
    .h_font_bebas {
        display: none;
    }
    .h_title{
        display: block;
    }
    .h_title{
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        height: 15vh;
        overflow: hidden;
    }
    .textbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15vh;
        overflow: hidden;
        background: #cd5c5c;
        clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
    }
    .h_title h2,
    .h_title .textbox h2 {
        position: absolute;
        top: calc(50% - 35px);
        width: 100%;
        text-align: center;
        font-size: 3.2em;
        color: #fff;
    }
    .h_title h2 {
        color: #cd5c5c;
    }
    /* CAROUSEL */
    .carousel{
        margin-top: 5rem;
        display: block;
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /** ADVERT **/
    img.imgadvert {
        max-width: 25%;
        border-radius: 3%;
        box-shadow: 0 2px 5px 1px #d7d7d7;
        float: left;
        margin-right: 25px;
    }
    /* VIEW */
    .viewimg{
        max-width: 40%;
    }
    /** LOGIN - REGISTER - RECRUITER */
    .register_login{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /** FOOTER **/
    .info{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 25px;
    }
    .info i{
        display: block;
        text-align: center;
        padding-bottom: 5px;
    }
}