{# COOKIES #}
{% extends "base.html.twig" %}

{% block title %}
    Politique relative aux cookies
{% endblock %}

{% block base_body %}
    <h2 class="rgpd_h2">Politique relative aux cookies</h2>
        <h3 class="rgpd_h4">Données personnelles</h3>
            <p>En application de la loi "Informatique et Libertés", les informations demandées par hairjob.clementinecellier.me sont obligatoires et nécessaires à l'enregistrement, à la gestion commerciale et marketing de votre dossier et à la qualité de nos relations. Ces informations peuvent être transmises aux sociétés du groupe Hair'Job. Vous disposez d'un droit d'accès et de rectification sur les données vous concernant et d'opposition à leur traitement.</p>
            <p>Pour exercer ce dernier, il vous suffit de nous envoyer vos nom, prénom, adresse, e-mail et la copie de votre pièce d'identité pour que nous puissions agir dans les meilleurs délais à l'adresse suivante :</p>
            <address>Hair'Job, 31000 Toulouse, France</address>

        <h3 class="rgpd_h4">Notre utilisation des cookies</h3>
            <p>Cette rubrique <strong>"&nbsp;COOKIES&nbsp;"</strong> vous permet d'en savoir plus sur l'origine et l'usage des informations de navigation traitées à l'occasion de votre consultation de notre site et sur vos droits.</p>
            <p>Cette rubrique est donc importante pour vous, qui souhaitez avoir une expérience positive et confiante de nos Services et pour Nous, qui souhaitons répondre de manière précise et complète à vos questions sur votre consultation de notre site et tenir compte de vos souhaits.</p>
            <p>Ainsi, lors de la consultation de notre site, des informations relatives à la navigation de votre terminal (ordinateur, tablette, smartphone, etc.) sur notre site, sont susceptibles d'être enregistrées dans des fichiers "Cookies" installés sur votre terminal. Sachez que seul l'émetteur d'un cookie est susceptible de lire ou de modifier des informations qui y sont contenues.</p>

        <h3 class="rgpd_h4">Les cookies émis par Hairjob</h3>
        <p>Lorsque vous vous connectez à notre site, nous pouvons être amenés, sous réserve de vos choix (voir "&nbsp;Vos choix concernant les cookies&nbsp;"), à installer divers cookies dans votre terminal nous permettant de reconnaître le navigateur de votre terminal pendant la durée de validité du cookie concerné.</p>
        <p>Ces Cookies nous permettent :</p>
        <ol>
            <li>d'établir des statistiques et volumes de fréquentation et d'utilisation des diverses éléments composant notre site (rubriques et contenus visités, parcours), Nous permettant d'améliorer l'intérêt et l'ergonomie de nos services ;</li>
            <li>d'adapter la présentation de notre site aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc) lors de vos visites sur notre Site, selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte;</li>
            <li>de mémoriser des informations relatives à un formulaire que vous avez rempli sur notre site (inscription ou accès à votre compte) ou à des produits, services ou informations que vous avez choisis sur notre site.</li>
            <li>de vous permettre d'accéder à des espaces réservés et personnels de notre site, tels que votre compte, grâce à des identifiants ou des données que vous nous avez éventuellement antérieurement confiés&nbsp;;</li>
            <li>de mettre en uvre des mesures de sécurité, par exemple lorsqu'il vous est demandé de vous connecter à nouveau à un contenu ou à un service après un certain laps de temps.</li>
        </ol>

        <h3 class="rgpd_h4">À quoi servent les cookies accompagnant nos contenus publicitaires diffusés par des tiers ?</h3>
        <p>Lorsque vous accédez à un site/application contenant des espaces publicitaires diffusant une de nos annonces publicitaires, cette annonce est susceptible de contenir un cookie. Ce cookie est susceptible, sous réserve de vos choix, d'être enregistré dans votre terminal et de nous permettre de reconnaître le navigateur de votre terminal pendant la durée de validité du cookie concerné. Les Cookies intégrés à nos annonces publicitaires diffusées par des tiers sont utilisés aux fins décrites ci-dessous, sous réserve de vos choix qui résultent des paramètres de votre logiciel de navigation utilisé lors de votre visite de notre site www.hairjob.clementinecellier.me et que vous pouvez exprimer à tout moment.</p>
        <p>Les Cookies que nous émettons nous permettent, si votre terminal a permis leur enregistrement, selon vos choix :</p>
        <ul>
            <li>d'établir des statistiques et volumes de fréquentation et d'utilisation des diverses éléments composant notre site (rubriques et contenus visités, parcours), Nous permettant d'améliorer l'intérêt et l'ergonomie de nos services ;</li>
            <li>d'adapter la présentation de notre site aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc) lors de vos visites sur notre Site, selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte;</li>
            <li>de mémoriser des informations relatives à un formulaire que vous avez rempli sur notre site (inscription ou accès à votre compte) ou à des produits, services ou informations que vous avez choisis sur notre site (service souscrit, contenu d'un panier de commande, etc.)</li>
            <li>de vous permettre d'accéder à des espaces réservés et personnels de notre site, tels que votre compte, grâce à des identifiants ou des données que vous nous avez éventuellement antérieurement confiés&nbsp;;</li>
        </ul>

        <h3 class="rgpd_h4">Quel est l'intérêt de voir s'afficher des publicités adaptées à votre navigation ?</h3>
            <p>Notre objectif est de vous présenter les publicités les plus pertinentes possibles. A cette fin, la technologie des cookies permet de déterminer en temps réel quelle publicité afficher à un terminal, en fonction de sa navigation récente sur un(e) ou plusieurs sites ou applications.</p>
            <p>Votre intérêt pour les contenus publicitaires qui sont affichés sur votre terminal lorsque vous consultez un site, détermine souvent les ressources publicitaires de celui-ci lui permettant d'exploiter ses services, souvent fournis aux utilisateurs à titre gratuit. Vous préférez sans doute voir s'afficher des publicités qui correspondent à ce qui vous intéresse plutôt que les publicités qui n'ont aucun intérêt pour vous. De même, les annonceurs qui souhaitent voir leurs publicités diffusées, sont intéressés par l'affichage de leurs offres auprès d'utilisateurs susceptibles d'être les plus intéressés par celles-ci.</p>

        <h3 class="rgpd_h4">Si vous partagez l'utilisation de votre terminal avec d'autres personnes</h3>
            <p>Le partage avec d'autres personnes de l'utilisation de votre terminal et la configuration des paramètres de votre navigateur à l'égard des cookies, relèvent de votre libre choix et de votre responsabilité.</p>

        <h3 class="rgpd_h4">Vos choix concernant les cookies</h3>
            <p>Plusieurs possibilités vous sont offertes pour gérer les cookies. Tout paramétrage que vous pouvez entreprendre sera susceptible de modifier votre navigation sur Internet et vos conditions d'accès à certains services nécessitant l'utilisation de Cookies.</p>
            <p>Vous pouvez faire le choix à tout moment d'exprimer et de modifier vos souhaits en matière de cookies, par les moyens décrits ci-dessous.</p>
            <ul>
                <li>les choix qui vous sont offerts par votre logiciel de navigation</li>
            </ul>
            <p>Vous pouvez configurer votre logiciel de navigation de manière à ce que des cookies soient enregistrés dans votre terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur. Vous pouvez également configurer votre logiciel de navigation de manière à ce que l'acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu'un cookie soit susceptible d'être enregistré dans votre terminal. Pour plus d'informations, consultez la rubrique "Comment exercer vos choix, selon le navigateur que vous utilisez ?"</p>
            <ul>
                <li>L'accord sur les cookies</li>
            </ul>
            <p>L'enregistrement d'un cookie dans un terminal est essentiellement subordonné à la volonté de l'utilisateur du Terminal, que celui-ci peut exprimer et modifier à tout moment et gratuitement à travers les choix qui lui sont offerts par son logiciel de navigation.</p>
            <p>Si vous avez accepté dans votre logiciel de navigation l'enregistrement de cookies dans votre Terminal, les cookies intégrés dans les pages et contenus que vous avez consultés pourront être stockés temporairement dans un espace dédié de votre Terminal. Ils y seront lisibles uniquement par leur émetteur.</p>
            <ul>
                <li>Le refus des cookies</li>
            </ul>
            <p>Si vous refusez l'enregistrement dans votre terminal des cookies que nous émettons, ou si vous supprimez ceux que nous y avons enregistrés, vous ne pourrez plus bénéficier d'un certain nombre de fonctionnalités qui sont néanmoins nécessaires pour naviguer dans certains espaces de notre site. Tel serait le cas si vous tentiez d'accéder à nos contenus ou services qui nécessitent de vous identifier. Tel serait également le cas lorsque nous ne pourrions pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par votre terminal, ses paramètres de langue et d'affichage ou le pays depuis lequel votre terminal semble connecté à Internet.</p>
            <p>Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l'impossibilité pour Nous d'enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.</p>
            <ul>
                <li>Comment exercer vos choix, selon le navigateur que vous utilisez?</li>
            </ul>
            <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.</p>
            <p>Pour&nbsp;<strong>Internet Explorer</strong> : ouvrez le menu Outils, puis sélectionnez Options internet ; cliquez sur l'onglet Confidentialité puis choisissez le niveau souhaité</p>
            <p>Pour&nbsp;<strong>Firefox</strong> : ouvrez le menu Outils, puis sélectionnez Options ; cliquez sur l'onglet Vie privée puis choisissez les options souhaitées.</p>
            <p>Pour&nbsp;<strong>Chrome</strong> : ouvrez le menu de configuration (logo clé à molettes), puis sélectionnez Paramètres ; cliquez sur Paramètres avancés puis sur Paramètres de contenu, puis choisissez les options souhaitées.</p>
            <p>Pour&nbsp;<strong>Safari</strong> : choisissez Safari &gt; Préférences puis cliquez sur Sécurité ; cliquez sur Afficher les cookies puis choisissez les options souhaitées.</p>
            <p>Pour&nbsp;<strong>Opera</strong> : ouvrez le menu Outils, puis sélectionnez Préférences ; cliquez sur l'onglet Avancé, puis dans la rubrique Cookies cliquez sur Gérer les cookies ; choisissez les options souhaitées.</p>

        <h3 class="rgpd_h4">Vos choix exprimés en ligne directement auprès de nous</h3>
            <p>Notez que cette procédure n'empêchera pas l'affichage de publicités sur votre terminal. Elle ne bloquera que les technologies qui permettent d'adapter des publicités à votre navigation et à vos centres d'intérêts.</p>
            <p>Attention, la prise en compte de votre souhait repose sur un cookie. Si vous supprimez tous les cookies enregistrés dans votre terminal (via votre navigateur), nous -ou nos prestataires- ne saurons plus que vous avez choisi cette option.</p>

        <h3 class="rgpd_h4">Vos choix exprimés en ligne auprès de plateformes interprofessionnelles</h3>
            <p>Vous pouvez vous connecter au site&nbsp;<a href="http://www.youronlinechoices.com/fr/" target="_blank" rel="noopener">Youronlinechoices</a>, proposé par les professionnels de la publicité digitale regroupés au sein de l'association européenne EDAA (European Digital Advertising Alliance) et géré en France par l'Interactive Advertising Bureau France.</p>
            <p>Vous pourrez ainsi connaître les entreprises inscrites à cette plate-forme et qui vous offrent la possibilité de refuser ou d'accepter les cookies utilisés par ces entreprises pour adapter à vos informations de navigation les publicités susceptibles d'être affichées sur votre terminal :&nbsp;<a href="http://www.youronlinechoices.com/fr/controler-ses-cookies/" target="_blank" rel="noopener">http://www.youronlinechoices.com/fr/controler-ses-cookies/</a>.</p>
            <p>Cette plate-forme européenne est partagée par des centaines de professionnels de la publicité sur Internet et constitue une interface centralisée vous permettant d'exprimer votre refus ou votre acceptation des cookies susceptibles d'être utilisés afin d'adapter à la navigation de votre terminal les publicités susceptibles d'y être affichées.</p>
            <p>Notez que cette procédure n'empêchera pas l'affichage de publicités sur les sites Internet que vous visitez. Elle ne bloquera que les technologies qui permettent d'adapter des publicités à vos centres d'intérêts.</p>

        <h3 class="rgpd_h4">Données personnelles et informations de navigation</h3>
            <p>Nous sommes susceptibles d'adapter les offres et publicités qui vous sont destinées à des informations relatives à la navigation de votre terminal sur notre site ou au sein de sites ou de services édités par des tiers et sur lesquels nous émettons des cookies.</p>
            <p>Dans la mesure où vous nous avez fourni des données personnelles vous concernant, notamment vos coordonnées électroniques, lors de votre inscription ou de votre accès à l'un de nos services, nous sommes susceptibles, sous réserve de vos choix, d'associer des informations de navigation relatives à votre terminal, traitées par les cookies que nous émettons, avec vos données personnelles afin de vous adresser, par exemple, des prospections électroniques ou d'afficher sur votre terminal, au sein d'espaces publicitaires contenant des cookies que nous émettons, des publicités personnalisées qui vous sont spécifiquement destinées, susceptibles de vous intéresser personnellement.</p>
            <p>Vous pourrez à tout moment nous demander de ne plus recevoir de publicités ou de prospections adaptées aux informations de navigation de votre terminal, en nous contactant directement et gratuitement, ou au moyen du lien de désinscription inclus dans toute prospection que nous serions susceptible de vous adresser par courrier électronique. Le cas échéant publicités que vous pourriez continuer à recevoir, sauf opposition de votre part exercée auprès de nous, ne seront plus adaptées à la navigation de votre terminal.</p>
            <p >Site : <a href="https://www.hairjob.clementinecellier.me">www.hairjob.clementinecellier.me</a> Mis en ligne le 26/06/2020</p>
{% endblock %}