{% extends "base.html.twig" %}

{% block title %}
    Page d'accueil - {{ parent() }}
{% endblock %}

{% block layout_body %}

    <h2>Page d'accueil du site</h2>

    {% for message in app.session.flashBag.get('info') %}
        <div>Message flash : {{ message }}</div>
    {% endfor %}

    <h3>Dernières annonces</h3>
    {{ render(controller("App\\Controller\\AdvertController::menu", {'limit': 3})) }}

    <h3>Une autre section au choix</h3>

{% endblock %}