{% extends "base.html.twig" %}

{% block title %}
    Mentions Légales
{% endblock %}

{% block base_body %}
    <h2 class="rgpd_h2">Mentions Légales</h2>
    <section>
        <p>Le site Internet hairjob.fr est édité par la société <strong>Hair'Job</strong> dont le siège social est situé 31000 Toulouse, France.</p>
        <ul><span>Pour toute question :</span>
            <li><strong>Email :</strong> <a href="{{ path('app_contact') }}">Service Clients</a></li>
            <li class="legal">Notre Service Clients est à votre écoute du lundi au vendredi de 9h à 18h.</li>
            <li class="legal">Fermé les samedi, dimanche et jours fériés.</li>
            <li><strong>Directeur de la publication :</strong> Stéphanie Cellier</li>
            <li><strong>Hébergement :</strong> </li>
        </ul>
    </section>
{% endblock %}