{# LEGAL_NOTICE #}
{% extends "base.html.twig" %}

{% block title %}
    Mentions Légales
{% endblock %}

{% block base_body %}
    <h2 class="rgpd_h2">Mentions Légales</h2>
    <section>
        <p>Ce site a été réalisé dans le cadre d’un projet professionnel pour la <a href="https://3wa.fr/">3WAcademy</a> suite à la formation de développeur-intégrateur d’applications web.
        </p>
        <p>Le site Internet hairjob.clementinecellier.me est édité par la société "fictive" <strong>Hair'Job</strong> dont le siège social est situé 31000 Toulouse, France.</p>
        <ul><span>Pour toute question :</span>
            <li><strong>Email :</strong> <a href="{{ path('app_contact') }}">Service Clients</a></li>
            <li class="legal">Notre Service Clients est à votre écoute du lundi au vendredi de 9h à 18h.</li>
            <li class="legal">Fermé les samedi, dimanche et jours fériés.</li>
            <li><strong>Directeur de la publication :</strong> Stéphanie Cellier</li>
            <li><strong>Hébergement : GANDI SAS</strong>, Société par Actions Simplifiée au capital de 800.000€ ayant son siège social au 63-65 boulevard Massena à Paris (75013) FRANCE, immatriculée sous le numéro 423 093 459 RCS PARIS N° TVA FR81423093459 Téléphone : +33.(0) 1 70 37 76 61 Télécopie +33.(0) 1 43 73 18 51 <a href="https://www.gandi.net/qui-est-gandi/">Qui est Gandi ?</a></li>
        </ul>
    </section>
{% endblock %}