{% extends "base.html.twig" %}
{% block title %}Mentions Légales{% endblock %}
{% block base_body %}
<h1>Mentions Légales</h1>
<div>
    <p>Le site Internet hairjob.fr est édité par la société hairjob.fr dont le siège social est situé 31000 Toulouse, France.</p>
    <p>Pour toute question :&nbsp;</p>
    <p>Email : <a href="{{ path('app_contact') }}">Service Clients</a></p>
    <p >Notre Service Clients est à votre écoute du lundi au vendredi de 9h à 18h <br /> Fermé les samedi, dimanche et jours fériés.</p>
    <p>Directeur de la publication : Stéphanie Cellier</p>
    <p>Hébergement : <br />  <br />  <br />  <br /></p>

{% endblock %}