{# RGPD #}
{% extends "base.html.twig" %}

{% block title %}
    Charte de protection des données personnelles
{% endblock %}

{% block base_body %}
    <h2 class="rgpd_h2">Charte de protection des données</h2>
        <h3 class="rgpd_h3">Nos engagements en matière de protection de vos données personnelles</h3>
            <h4 class="rgpd_h4">Identité du responsable du traitement</h4>
                <address>Hair'Job, dont le siège social se situe, 31000 Toulouse</address>

            <h4 class="rgpd_h4">Un partenariat de confiance entre hairjob.fr et ses utilisateurs </h4>
                <p>hairjob.fr (ci-après dénommée Hair'Job) porte une attention toute particulière à la protection des données personnelles de ses utilisateurs. Dès lors, nous nous engageons à respecter la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, modifiée par le Règlement européen 2016/679 du 27 avril 2016 relatif à la protection des données personnelles dit « RGPD ». </p>
                <p>En utilisant le site hairjob.fr, vous acceptez la collecte et l’utilisation de vos données personnelles de la manière décrite dans la présente Charte de protection des données.</p>

            <h4 class="rgpd_h4">Champ d’application</h4>
                <p>La présente Charte de protection des données décrit de quelle manière Hair'Job traite vos données personnelles lorsque vous utilisez notre site internet. Notre charte couvre également les autres canaux de collecte de vos données personnelles, notamment au téléphone lorsque vous contactez notre Service utilisateurs. Tout sous-traitant nécessaire à la réalisation de votre commande sur notre site Internet ou service traitant vos données personnelles peuvent, dans leurs propres conditions générales d’utilisation, avoir des règles de confidentialité complémentaires à la présente charte, conforme à la RGPD.</p>

            <h4 class="rgpd_h4">Collecte et finalités du traitement des données</h4>
                <p>Hair'Job collecte des données à caractère personnel sur tout Utilisateur naviguant, consultant et commandant sur son Site, notamment par l'utilisation de cookies conformément à la législation française et de la réglementation européenne en vigueur. </p>

            <h4 class="rgpd_h4">A quelles occasions collectons-nous vos données personnelles ?</h4>
                <ul>
                    <li>Création d’un compte "candidat" ou "recruteur"</li>
                    <li>Visite de notre site Internet qui utilise des cookies</li>
                    <li>Contact avec le Service Utilisateurs par tout moyen de communication mis à sa disposition tel que le formulaire de contact</li>
                    <li>Navigation sur le Site et consultation des annonces publiées par les recruteurs</li>
                </ul>

            <h4 class="rgpd_h4">Quelles sont les informations personnelles que nous collectons ?</h4>
                <p>Les données personnelles du Utilisateur ci-dessous détaillées ne sont conservées que pour la durée strictement nécessaire au regard des finalités précédemment exposées.</p>
                <p>Les informations dont la collecte est strictement nécessaire pour réaliser la consultation des annonces ou la création d'une annonce, concernent : </p>
                    <ol>
                        <li>votre prénom</li>
                        <li>votre adresse email</li>
                        <p><strong>Sont nécessaires aussi :</strong></p>
                        <li>les coordonnées du recruteur, ses noms, prénoms,</li>
                        <li>adresse postale, numéro de téléphone.</li>
                    </ol>

            <h4 class="rgpd_h4">Comment utilisons-nous vos données ?</h4>
                <p>Toutes les données personnelles sont confidentielles, leur accès est limité aux collaborateurs d’Hair'Job ou sous-traitant agissant au nom d’Hair'Job, qui en ont besoin dans le cadre de l’exécution de leurs missions. Toutes les personnes ayant accès à vos données sont liées par un devoir de confidentialité. hairjob.fr est tenu au secret professionnel et ne transmettra jamais ces informations à des tiers, de même qu’elle ne les utilisera pas à des fins commerciales.</p>
                <p>Conformément à la règlementation, nous ne collectons pas les données qui révèlent l'origine raciale ou ethnique, les opinions politiques, les convictions religieuses ou philosophiques ou l'appartenance syndicale, les données personnelles génétiques, les données personnelles biométriques aux fins d'identifier une personne physique de manière unique, les données personnelles concernant la santé ou les données personnelles concernant la vie sexuelle ou l'orientation sexuelle d'une personne physique. </p>
                <p>Ces catégories de données personnelles particulières ne font jamais l’objet d’une collecte ou d’un traitement par Hair'Job.</p>

            <h4 class="rgpd_h4">Les données collectées sont nécessaires aux traitements suivants :</h4>
                <ul>
                    <li>Gestion et suivi des relations commerciales entre Hair'Job et les utilisateurs ;</li>
                    <li>Personnalisation des contenus du Site, amélioration de votre expérience Utilisateur ;</li>
                    <li>Réalisation de statistiques de la mesure d’audience et d’études marketing ;</li>
                </ul>

            <h4 class="rgpd_h4">Gestion de nos obligations envers nos utilisateurs</h4>
                <p>Dans le cadre de l’exécution de nos obligations envers nos utilisateurs, nous collectons et utilisons vos informations personnelles pour gérer notre relation commerciale, notamment pour gérer les annonces qui pourraient vous intéresser. Ces informations nous aident à améliorer votre expérience en ligne, comme visée ci-après. </p>

            <h4 class="rgpd_h4">Gestion de la relation Utilisateur</h4>
                <p>Nous utilisons et conservons vos informations personnelles afin de mettre à jour nos fichiers utilisateurs et vous proposer des services adaptés et personnalisés.</p>

            <h4 class="rgpd_h4">Communication avec vous</h4>
                <p>Nous collectons et conservons vos informations personnelles pour pouvoir communiquer avec vous sur vos réclamations au Service utilisateurs.</p>

            <h4 class="rgpd_h4">Exigence légale ou réglementaire</h4>
                <p>Nous pouvons être tenus de communiquer vos données personnelles en cas de demandes légitimes d’autorités publiques, notamment pour répondre à des exigences en matière de sécurité nationale, de lutte contre la fraude ou d’application de la loi.</p>

            <h4 class="rgpd_h4">La gestion de vos données personnelles</h4>
                <strong>Chez Hair'Job, vous êtes maître de vos données personnelles</strong>
                <p>Quand vous fournissez des informations personnelles à Hair'Job, vous avez accès à vos données et vous pouvez les mettre à jour, les modifier ou les supprimer à tout moment par courrier à l’adresse suivante :</p>
                <address>Hair'Job, Département de la protection des données personnelles, 31000 Toulouse, France </address>
                <strong>Vos droits relatifs à la protection de vos données </strong>
                <p>Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, modifiée par le RGPG, vous disposez de plusieurs droits pour la gestion de vos données :</p>
                <ul>
                    <li>droit de vous opposer à nos traitements de vos données personnelles ;</li>
                    <li>droit d’accéder à vos données personnelles que nous traitons ;</li>
                    <li>droit de les rectifier ;</li>
                    <li>droit à l’effacement ;</li>
                    <li>droit à la portabilité de vos données ;</li>
                    <li>droit à la limitation du traitement ;</li>
                    <li>droit de définir des directives relatives à la conservation, l’effacement et la communication de vos données personnelles après votre mort ;</li>
                    <li>droit d’introduire une réclamation auprès de la CNIL ;</li>
                </ul>
                <strong>Comment exercer vos droits ?</strong>
                <p>par courrier accompagné d’une copie d’un justificatif d’identité valide envoyé à l’adresse suivante :</p>
                <address>Hair'Job, Département de la protection des données personnelles, 31000 Toulouse, France </address>
                <p>Si vous souhaitez des précisions sur le contenu de ces droits, merci de nous contacter à l’adresse susmentionnée.</p>
                <p>Nous vous fournissons nos éléments de réponses à vos demandes dans les meilleurs délais et en tout état de cause dans un délai d'un mois à compter de la réception de vos demandes.</p>

            <h4 class="rgpd_h4">Transfert de données personnelles en dehors de l’Union européenne</h4>
                <p>Les données collectées sont susceptibles d’être traitées hors de l’Union Européenne. Dans ce cas, Hair'Job prend les dispositions nécessaires avec ses sous-traitants pour garantir un niveau de protection de vos données adéquat et ce en toute conformité avec la règlementation applicable.</p>
                <p>Si les sous-traitants concernés ne sont pas adhérents à l’accord Privacy Shield s’agissant de transferts vers les Etats-Unis d’Amérique, ou ne sont pas situés dans un pays disposant d’une législation considérée comme offrant une protection adéquate, ils auront alors préalablement signé les «clauses contractuelles types» de la Commission européenne ou seront soumis à des Règles internes contraignantes approuvées par les autorités.</p>

            <h4 class="rgpd_h4">Durée de conservation des données</h4>
                <p>Vos données personnelles sont conservées le temps nécessaire à l’accomplissement de l’objectif poursuivi lors de leur collecte.</p>

            <h4 class="rgpd_h4">Sort des données personnelles après le décès</h4>
                <p>Hair'Job informe l’Utilisateur qu’il peut définir, de son vivant, des directives relatives à la conservation, à l’effacement et à la communication de ses données personnelles après son décès. Ces directives peuvent être générales ou particulières. L’Utilisateur peut modifier ou révoquer ses directives à tout moment en effectuant une demande accompagnée d’un justificatif d’identité valide par courrier à l’adresse suivante : </p>
                <address>Hair'Job, Département de la protection des données personnelles, 31000 Toulouse, France ></address>
                <p>Nous vous fournissons nos éléments de réponses à vos demandes dans les meilleurs délais et en tout état de cause dans un délai d'un mois à compter de la réception de vos demandes complètes.</p>
                <address>Hair'Job, Département de la protection des données personnelles, 31000 Toulouse, France </address>
                <p>Nous vous fournissons nos éléments de réponses à vos demandes dans les meilleurs délais et en tout état de cause dans un délai d'un mois à compter de la réception de vos demandes.</p>

            <h4 class="rgpd_h4">Mise à jour de notre charte des données personnelles</h4>
                <p>La présente charte peut être mise à jour périodiquement et sans préavis. Toute modification entre en vigueur immédiatement à partir de la publication de la nouvelle charte sur le Site hairjob.fr. Nous utilisons vos données personnelles conformément à la Charte en vigueur au moment où vous nous soumettez lesdites données. Nous vous avertirons de tout changement important de notre charte et solliciterons votre consentement si cela est nécessaire et impacte la finalité de la collecte de vos données personnelles. Afin de toujours rester conforme à la règlementation en vigueur relative à la protection des données personnelles, la présente charte est revue annuellement par nos services.</p>

            <h4 class="rgpd_h4">Glossaire</h4>
                <p><strong>« Anonymisation »</strong> est définie comme « le résultat du traitement des données personnelles afin d’empêcher, de façon irréversible, toute identification » ;</p>
                <p><strong>« Collecter »</strong> s’entend du fait de recueillir des données à caractère personnel. Cette collecte peut s’effectuer, notamment, à l’aide de questionnaires ou de formulaires en ligne ;</p>
                <p><strong>« Consentement »</strong> votre consentement s’entend de toute manifestation de volonté, libre, spécifique, éclairée et univoque par laquelle vous acceptez, par une déclaration ou par un acte positif clair, que des données à caractère personnel vous concernant fassent l'objet d'un traitement ;</p>
                <p><strong>« Données à caractère personnel » ou « données personnelles »</strong> désignent toute information se rapportant à une personne physique identifiée ou identifiable; qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale ;</p>
                <p><strong>« Droits protégeant vous données personnelles »</strong> : désigne l’ensemble des droits fondamentaux tels que décrit dans la réglementation européenne, portant sur :</p>
                <ul>
                    <li>le droit à l’information ;</li>
                    <li>le droit d’accès ;</li>
                    <li>le droit de rectification ;</li>
                    <li>le droit à l’effacement ou droit à l’oubli ;</li>
                    <li>le droit à la portabilité ;</li>
                    <li>les droits d’opposition ;</li>
                    <li>le droit à la limitation du traitement ;</li>
                    <li>le droit de définir des directives relatives à la conservation, l’effacement et la communication de ses données personnelles après sa mort ;</li>
                    <li>droit d’introduire une réclamation auprès de la CNIL ;</li>
                </ul>
                <p><strong>« Pseudonymisation »</strong> s’entend par toute mesure de sécurité technique et organisationnelle qui consiste à remplacer un identifiant afin de garantir que les données à caractère personnel ne soient pas attribuées à une personne physique identifiée ou identifiable.</p>
                <p><strong>« Relation commerciale » </strong>regroupe l’ensemble des relations entre Hair'Job et ses utilisateurs comme, par exemple, lors de vos achats de produits ou services, de l’utilisation du service après- vente, de votre participation à des jeux en lignes, du retour de vos produits, de vos réclamations, de votre participation à des enquêtes de satisfaction ou dans le cadre de votre programme de fidélité;</p>
                <p><strong>« Responsable de traitement »</strong> est la personne ou l'organisme qui, seul ou conjointement, détermine les objectifs et les modalités de traitement de vos données personnelles ;</p>
                <p><strong>« Sous-traitant » </strong>est celui qui traite des données à caractère personnel pour le compte de la personne, de la structure ou de l’organisme responsable du traitement ;</p>
                <p><strong>« Tiers » </strong>se réfère à toute personne autre que Hair'Job et vous-même ;</p>
                <p><strong>« Traitement des données personnelles » </strong>signifie toute opération ou groupe d’opérations appliqué à vos données, quel que soit le support de service en ligne en question et le procédé utilisé.</p>
{% endblock %}