{# CONTACT #}
{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block base_body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <h2 class="h_font_b">Nous contacter</h1>
    {{ form(contactForm) }}
{% endblock %}
