{% extends "base.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block base_body %}
    <h1>Vive les Annonces du Layout</h1>

    <hr>
    {% block layout_body %}
    {% endblock %}

{% endblock %}