{% extends "base.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block base_body %}
    <h3>Les annonces disponibles sur Hair'Job : </h3>

    <hr>
    {% block layout_body %}
    {% endblock %}

{% endblock %}