{% extends "layout.html.twig" %}

{% block title %}
    Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block layout_body %}
    <h2 class="h_font_b">Ajouter une annonce</h2>
        <section>
            <article class="profil">
                <h3>Instruction concernant l'annonce :</h3>
                    <ol>
                        <li>Merci de bien vouloir respecter tous les champs</li>
                        <li>Veuillez renseigner les coordonnées de la personne à contacter :</li>
                    </ol>
                    <ul class="list">
                        <li> Nom du contact</li>
                        <li> N° de téléphone valide</li>
                        <li> Adresse email valide</li>
                    </ul>
            </article>
            {{ include("Advert/_form.html.twig") }}
            <small><strong>Attention :</strong> cette annonce sera ajoutée directement sur la page d'accueil après validation du formulaire.</small>
        </section>
{% endblock %}