{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur - Page non trouvée</h1>

    <p>
        La page demandée est introuvable. Vérifiez que vous n'ayez pas fait de fautes de frappe ou <a href="{{ path('/') }}">retournez à la page d'accueil.</a>.
    </p>
{% endblock %}